@media (max-width: 1350px) {
    .header-baner{
        width: 40%;
        margin: 100px 60px 100px 0;
    }

    .header-title{
        font-size: 300%;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
    }
    
}

@media (max-width: 1220px) {
    .header-baner{
        width: 70%;
        margin: 100px 20px 100px 0;
    }
    
    .header-title{
        font-size: 250%;
    }
}

@media (max-width: 1100px) {
    .header-baner {
        width: 70%;
        float: none;
        position: absolute;
        top: 5%;
        left: 30%;
        margin: -25px 0 0 -25px;
        text-align: center;
    }

    .header-text{
        margin: 0 auto;
    }

    .header-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .header-baner {
        margin: none;
        width: 100%;
        float: none;
        position: absolute;
        margin: 0 auto;
        text-align: center;
    }

    .header-text{
        margin: 20px auto;
    }

    .header-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width: 870px) {
    header{
        width: 100%;
    }
    .header-baner{
        margin: 300px ;
    }
    .btn_learnmore{
        display: none;
    }
    .header-title h1{
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
    }
}

@media (max-width: 679px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 0 auto;
    }

    .header-title{
        font-size: 300% !important;
    }
    
}

@media (max-width: 554px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 80px auto;
    }

    .header-title{
        font-size: 250%;
    }
    
}

@media (max-width: 503px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 80px auto;
    }

    .header-title{
        font-size: 250%;
    }

    .btn_learnmore{
        display: none;
    }
    
    
}

@media (max-width: 460px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 200px auto;
    }

    .header-title{
        font-size: 230%;
    }
    
    .header-text{
        font-size: 150%;
    }
}

@media (max-width: 460px) {
    .header-baner{
        float: none;
        width: 90%;
        text-align: center;
        margin: 100px auto;
    }
}

@media (max-width: 414px) {
    .header-baner{
        float: none;
        width: 90%;
        text-align: center;
        margin: 80px auto;
    }
}

@media screen and (max-width: 1100px) {
    .special-offers h2{
        text-align: center;
    }
    .special-offers p{
        text-align: center;
    }
    .special-offers img{
        display: none;
        margin: 0 -50px;
    }
    .special-offers{
      height: 50px;  
    }

    .column {
        display: inline;
        justify-content: center;
        margin: -30px auto;
        width: 70%;
    }


}

@media screen and (max-width: 1500px) {
    .special-offers h2{
        text-align: center;
    }
    .special-offers p{
        text-align: center;
    }
    .special-offers img{
        display: none;
    }
    .special-offers{
      height: 50px;  
    }

    .column {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        width: 70%;
    }

}

@media screen and (max-width:1407px){
    .header-baner{
        width: 40%;
        margin: 100px 60px 100px 0;
    }

    .header-title{
        font-size: 300%;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
    }
    
}

@media screen and (max-width:1175px){
    .header-baner{
        width: 100%;
        margin: 50px auto;
        padding: 25px 15px;
        position: inherit;

    }

    .header-title{
        font-size: 45px !important;
        font-weight: bold;
        margin: 20px 0;
        line-height: 54px;
    }
}











  
  @media (max-width: 1300px) {
  
    .contact__card{
      display: none;
    }
  
    #contact{
      padding: 0;
    }
  
    .phone-and-tablet-contact{
      display: inline;
      background-image: url(images/phone-contact.svg);
      background-repeat: no-repeat;
      width: 70%;
      background-position: center;
      height: 800px;
      margin: 50px 0 0 0 ;
    }
  
    .phone-and-tablet-contact{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }   
    label{
      color: white;
    }
  
    input, textarea{
      width: 100%;
      margin: 10px 0;
    }
    button {
      width: 100%;
    }
  }
  
  @media (min-width: 1301px) and (max-width:1600px){
    .card__image{
      display: none;
    }
    .text__title{
      font-size: 60px;
    }
    
    .image-wrapper{
      width: 70%;
      background-image: url(images/contact-image.svg);
      background-size: cover;
    }
  
    .title{
      font-size: 40px;
    }
    .phone-and-tablet-contact{
      display: none;
    }
    .contact__card {
      background-color: #fff;
      width: 65%;
      display: flex;
      height: 700px;
      margin: auto;
    }
    
    .contact__card .card__content {
      width: 55%;
    }
  
    
  
    label {
      font-size: 25px;
      font-family: "Inter", sans-serif;
      color: #1b1b1b;
      display: block;
      width: 100%;
      font-weight: 500;
      margin: 20px 0 -10px 0;
    }
    
    input {
      font-family: "Inter", sans-serif;
      padding: 10px;
      height: 50px;
      width: 100%;
    }
  
    button {
      width: 100%;
      margin-top: unset;
    }
  
    
    
    textarea {
      font-family: "Inter", sans-serif;
      height: 200px;
      width: 100%;
      padding: 10px;
      resize: none;
      margin-right: 110px;
    }
  }
  
  @media (max-width: 500px) {
    #Main {
      height: auto;
    }
  
    .container__image img {
      width: 100%;
    }
  
    #about {
      height: fit-content;
      padding: 40px 0;
    }
  
    .content__paragraph {
      padding: 10px 0;
      width: 100%;
      margin: 0;
      font-size: 15px;
    }
  
    .content__image {
      padding: 20px 0;
    }
  
    
    .phone-and-tablet-contact{
      display: inline;
      background-image: url(images/phone-contact.svg);
      background-repeat: no-repeat;
      width: 100%;
      background-position: center;
      height: 800px;
      margin: 50px 0 0 0 ;
    }
  
    .phone-and-tablet-contact{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
    }   
    label{
      color: white;
    }
  
    input, textarea{
      width: 100%;
      margin: 10px 0;
    }
    button {
      width: 100%;
    }
  }
  
  @media (min-width: 1400px) and (max-width: 1600px) {
    #about {
      height: max-content;
    }
  
    .container__image {
      margin: auto;
    }
  
    .title {
      font-size: 40px;
      padding: 150px 20px 50px 20px;
    }
  
    .about__card {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 60%;
      border-radius: 40px;
    }
  
    .card__content {
      width: 80%;
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
  
    .overlay .close {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
      display: none;
    }
  
    .menu {
      display: initial;
    }
  
    .wrapper {
      width: 80%;
    }
    .title {
      font-size: 30px;
      padding: 100px 20px 30px 20px;
    }
  }
  
  @media (max-width: 800px) {
    .footer-menu ul {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .footer-bottom {
      padding-bottom: 20px;
    }
    .footer-menu {
      display: none;
    }
  
    .footer-content {
      padding: 20px;
    }
    .footer-bottom p {
      text-align: center;
      float: unset;
    }
  }

  @media (max-width: 800px) {
    .footer-menu ul {
      display: flex;
      margin-top: 10px;
      margin-bottom: 20px;
    }
  
    .footer-bottom {
      background-color: #000;
      padding-bottom: 20px;
    }
    .footer-menu {
      display: none;
    }
  
    .footer-content {
      padding: 20px;
    }
    .footer-bottom p {
      text-align: center;
      float: unset;
    }
    .column-text {
      margin: 0 auto;
      padding: 5px;
      width: 100%;
      height: auto;
    }
    .ha {
      height: auto;
    }
    .p0 {
      padding: 0px;
    }
    .desktop-o {
      display: none;
    }
    .mobile-o {
      display: block;
      background-image: url("images/banner-about-us-4.png");
      background-size: cover;
    }
    .mobile-o .section1 {
      width: 100%;
      padding: 25px 0;
      color: #fff;
      text-align: center;
    }
    .mobile-o .violetinis {
      color: #fff !important;
    }
  }
  @media screen and (min-width: 801px){
    .desktop-o {
      display: flex;
    }
    .mobile-o {
      display: none;
    }
  }
