@media (max-width: 1350px) {
    .header-baner{
        width: 40%;
        margin: 100px 60px 100px 0;
    }

    .header-title{
        font-size: 300%;
        font-weight: bold;
        margin: 20px 0;
        line-height: 1.5;
    }
    
}

@media (max-width: 1220px) {
    .header-baner{
        width: 40%;
        margin: 100px 20px 100px 0;
    }
    
    .header-title{
        font-size: 250%;
    }
}

@media (max-width: 1100px) {
    .header-baner{
        float: none;
        width: 60%;
        text-align: center;
        margin: 120px auto;
    }
    .header-title{
        font-size: 350%;
    }

    .header-text{
        margin: 35px 0;
        width: auto;
        font-size: 130%;
        text-align: center;
    }
}

@media (max-width: 870px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 120px auto;
    }
    
}

@media (max-width: 679px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 120px auto;
    }

    .header-title{
        font-size: 300%;
    }
    
}

@media (max-width: 554px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 80px auto;
    }

    .header-title{
        font-size: 250%;
    }
    
}

@media (max-width: 503px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 80px auto;
    }

    .header-title{
        font-size: 250%;
    }

    .btn_learnmore{
        display: none;
    }
    
    
}

@media (max-width: 460px) {
    .header-baner{
        float: none;
        width: 80%;
        text-align: center;
        margin: 200px auto;
    }

    .header-title{
        font-size: 230%;
    }
    
    .header-text{
        font-size: 150%;
    }
}

@media (max-width: 460px) {
    .header-baner{
        float: none;
        width: 90%;
        text-align: center;
        margin: 100px auto;
    }
}

@media (max-width: 414px) {
    .header-baner{
        float: none;
        width: 90%;
        text-align: center;
        margin: 80px auto;
    }
}

@media screen and (max-width: 1100px) {
    .special-offers h2{
        text-align: center;
    }
    .special-offers p{
        text-align: center;
    }
    .special-offers img{
        display: none;
        margin: 0 -50px;
    }
    .special-offers{
      height: 50px;  
    }

    .column {
        display: inline;
        justify-content: center;
        margin: 0 auto;
      width: 70%;
    }


}

@media screen and (max-width: 1500px) {
    .special-offers h2{
        text-align: center;
    }
    .special-offers p{
        text-align: center;
    }
    .special-offers img{
        display: none;
    }
    .special-offers{
      height: 50px;  
    }

    .column {
        display: inline;
        justify-content: center;
        margin: 0 auto;
      width: 70%;
    }
}
