:root {
    /* Colors */
    --darkgrey: #181818;
    --lightgrey: #B0B0B0;
    --pastlepurple: #C094FF;
    --purple: #761CF7;
    --pinkpurple: #AD00FF;

    /* Timing */
    --transition: 0.25s;
    --spark: 1.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

/* HEADER */
#home{
    width: 100%;
    height: auto;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px  0px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header__logo {
    margin-right: auto;
    width: 200px;
    height: auto;
}

nav {
    color: white;
    background-color: #181818;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#links li a:hover {
    transition: 0.4s;
    color: var(--purple);
}

.btn_register {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(50deg, var(--purple) 0%, var(--pinkpurple) 100%);
    border-radius: 0px 20px;
    cursor: pointer;
    transition: background 0.6s ease;
    z-index: 1;
}

.btn_register:hover {
    background: linear-gradient(50deg, #852eff 0%, #c342ff 100%);
}

#line{
    margin: 0 auto;
    width: 67%;
    margin-top: 30px;
    height: 1px;
    background-color: #181818;
}

/* Banner */

.banner-container{
    width: 100%;
}

img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
