:root {
    /* Colors */
    --darkgrey: #181818;
    --lightgrey: #B0B0B0;
    --pastlepurple: #C094FF;
    --purple: #761CF7;
    --pinkpurple: #AD00FF;
    --hotpink: #FF00E5;
    --darkpurple: #7A29E0;

    /* Timing */
    --transition: 0.25s;
    --spark: 1.8s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  display: none;
}

/* HEADER */
#home{
    width: 100%;
    height: auto;
}

header{
    background-image: url(images/banner2.png);
    width: 100%;
    margin: 10px 0;
    height: 3508px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 20px  0px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.header__logo {
    margin-right: auto;
    width: 200px;
    height: auto;
}

nav {
    color: white;
    background-color: #181818;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}

#links li a:hover {
    transition: 0.4s;
    color: var(--purple);
}

.btn_register {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding: 7px 30px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    background: linear-gradient(50deg, var(--purple) 0%, var(--pinkpurple) 100%);
    border-radius: 0px 20px;
    cursor: pointer;
    transition: background 0.6s ease;
    z-index: 1;
}

.btn_register:hover {
    background: linear-gradient(50deg, #852eff 0%, #c342ff 100%);
}

.header-baner{
    margin: 120px 100px 100px 0;
    width: 45%;
    float: right;
    color: white;
}

.header-title{
    font-size: 400%;
    font-weight: bold;
    margin: 20px 0;
    line-height: 1.5;
}

.pink-text{
    color: var(--hotpink);
}

.header-text{
    margin: 35px 0;
    width: 80%;
    font-size: 130%;
}

.header-button{
    margin: 10px 0 30px;
    padding: 8px 40px;
    font-weight: 500;
}

.btn_learnmore i{
    margin: 0 10px;
    font-size: 35px;
    color: white;
}

.btn_learnmore i:hover{
    transition: 1s;
    color: var(--hotpink);
}


.btn_learnmore{
    font-size: 20px;
    font-weight: 400;
}

#services {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.column {
    margin: 40px auto;
    float: left;
    width: 25%;
    padding: 0 45px;
    height: 400px;
}
  
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensures children (columns) are centered */
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
.cards{
    border-radius: 10px;
    height: auto;
    padding: 10px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: #ffffff;
    height: 400px;
}

.card p{
    padding: 20px;
}

.card h2{
    font-weight: 600;
    font-size: 180%;
}

.card img{
    margin: 0 auto;
}

.special-offers h2{
    font-weight: 600;
    font-size: 250%;
    padding: 0 0 30px 0;
}

.special-offers p{
    font-size: 120%;
    padding: 0 0 10px 0;
}


#about{
    margin-top: 50px;
}
.about-wrapper{
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.section1-elements{
    width: 60%;
    margin: 0 auto;
}

.about-wrapper .section1 {
    width: 50%;
}

.violetinis{
    font-size: 25px;
    font-weight: bold;
    color: var(--darkpurple);
}

.Apie-Mus-Title{
    font-size: 35px;
    font-weight: bold;
}

.about-wrapper .section2 {
    width: 70%;
    height: 450px;
    background-image: url("images/banner-about-us-4.png");
}

.Apie-Mus-Paragraph{
    padding: 5px 0;
    font-size: 20px;
}












/* DUK */

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700&display=swap");

.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 1200px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
}
.accordion h1 {
    font-size: 32px;
    text-align: center;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 20px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}
